main{
  flex: 1 1 auto;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1024px){
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 2100px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}